.git
.gitignore
.vscode
.idea

__pycache__
*.pyc
*.pyo
.venv
venv
env

*.ipynb
.ipynb_checkpoints

runs
datasets
train
valid
test
*.jpg
*.jpeg
*.png

Dockerfile
.dockerignore
docker-compose.yml
README.md
